build
.idea
cmake-build-debug/
cscope.out/
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory
vcpkg/
.vscode/
vcpkg_installed/
*.csv/
tags/
*.swp/
!./docs/.gitignore
notebooks/data
notebooks/*.ipynb
/research_papers/
